<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DBConfig" type="UtilZ.Dotnet.DBIBase.DBModel.Config.DBConfigSection,UtilZ.Dotnet.DBIBase.DBModel"/>
  </configSections>

  <DBConfig>
    <DBItems>
      <add DBID="1" ConName="SQLiteDB" DBConInfoType="1" DatabaseName="DB2.sqlite" DBFactory="UtilZ.Dotnet.DBSQLite.Core.SQLiteDBFactory,UtilZ.Dotnet.DBSQLite"/>
    </DBItems>
  </DBConfig>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
